.wrapper
    overflow-y: auto
    overflow-x: hidden
    height: 100%

.animWrapper
    margin-top: 8rem
    width: 100%
    display: flex
    justify-content: center


$animWidth: 2500px
$imgWidth: 250px
$widthOffset: -125px

.listCont
    width: $animWidth
    min-width: $animWidth
    height: 500px
    position: relative
    img
        cursor: pointer
        width: $imgWidth
        position: absolute
        left: 0
        animation: slide linear infinite reverse
        border-radius: .5rem
        box-shadow: 0 10px 30px -15px rgb(131, 128, 145)
        backface-visibility: hidden

// .leftGradient
//     position: absolute
//     top: -10%
//     left: #{$widthOffset - 50px}
//     height: 110%
//     width: 350px
//     background: blue
//     z-index: 100 
//     background: linear-gradient(90deg, #fafafa 0%, #fafafa 80%, rgba(250,250,250,0) 100%)

// .rightGradient
//     position: absolute
//     top: -10%
//     right: #{$widthOffset - 50px}
//     height: 110%
//     width: 350px
//     background: blue
//     z-index: 100 
//     background: linear-gradient(270deg, #fafafa 0%, #fafafa 80%, rgba(250,250,250,0) 100%)


@keyframes slideScale
    0%
        transform: translate3d($widthOffset,0,0) scale(0.5) 
        opacity: 0

    15%
        opacity: 1

    25%
        transform: translate3d(#{$animWidth * 0.25 + $widthOffset},0,0) scale(0.7)

    50%
        transform: translate3d(#{$animWidth * 0.5 + $widthOffset},0,0) scale(1)

    75%
        transform: translate3d(#{$animWidth * 0.75 + $widthOffset},0,0) scale(0.7)
    
    85%
        opacity: 1

    100%
        transform: translate3d(#{$animWidth + $widthOffset},0,0) scale(0.5)
        opacity: 0

@keyframes slide
    0%
        transform: translate3d($widthOffset,0,0)
        opacity: 0
    10%
        opacity: 1
    25%
        transform: translate3d(#{$animWidth * 0.25 + $widthOffset},0,0) 

    50%
        transform: translate3d(#{$animWidth * 0.5 + $widthOffset},0,0) 

    75%
        transform: translate3d(#{$animWidth * 0.75 + $widthOffset},0,0)

    90%
        opacity: 1
    100%
        transform: translate3d(#{$animWidth + $widthOffset},0,0)
        opacity: 0
 
        

.preCont
    position: relative
    max-width: 800px
    margin: 0 auto
    
pre
    border-radius: .5rem
    width: 100%
    margin: 0 auto 2rem auto
    padding: 2rem
    display: flex


.copyCont     
    position: absolute
    top: 0
    right: 0   
    display: flex
    font-size: 1.25rem
    padding: 1rem
    z-index: 2
    i
        cursor: pointer
        transition: .3s ease
        color: #797d85
        &:hover
            color: white
    p
        color: white
        margin-right: 1rem
        opacity: 0
        pointer-events: none
        transition: opacity .5s ease
        font-family: monospace
        &.active
            opacity: 1
        

pre[class*="language-"]
            position: relative