<!-- animation -->
<div class="wrapper">
  <div class="animWrapper">
    <div class="listCont">
      <!-- <div class="leftGradient"></div>
      <div class="rightGradient"></div> -->
      <img
        *ngFor="let page of pages; index as i"
        [src]="'assets/' + page"
        [style.animationDuration]="animationTime + 's'"
        [style.animationDelay]="
          -(animationTime - (animationTime / pages.length) * i) + 's'
        "
        alt="page"
      />
    </div>
  </div>

  <div class="preCont" *ngFor="let code of codes">
    <!-- code stuff -->
    <div class="copyCont">
      <p #pTag>Copied!</p>
      <i class="fas fa-copy copy" (click)="copy($event, pTag)"></i>
    </div>
    <pre>
<code class="language-html" [innerHTML]="code"></code>
  </pre>
  </div>
</div>
