.wrapper
    padding: 2rem

input
    display: block
    margin-bottom: 2rem

.grid
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(auto-fill, 200px)
    grid-template-rows: auto
    grid-gap: 4rem
    justify-content: center
    max-width: 1500px

.gridItem 
    height: 250px
    width:  200px
    cursor: pointer
    h3
        color: white
        text-align: center
        font-size: 1.1rem
        margin-bottom: 0
        font-weight: 500
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
    h5
        color: white
        text-align: center
        font-weight: 500
        font-size: .8rem
        color: #aaaaaa
    span
        height: 6px
        width: 6px
        background: #FFC700
        display: inline-block
        margin-right: .5rem
        border-radius: 50%

  

.imgCont
    margin-bottom: 1rem
    height: 150px
    width:  200px
    position: relative

    
.filterWrap
    height: 150px
    width:  200px
    display: flex
    justify-content: center
    align-items: center   
    position: absolute
    filter: drop-shadow(0 10px 10px  rgba(0,0,0,.5))
    z-index: 3

img
    max-height: 100%
    max-width: 100%
    height: auto
    width: auto
    border-radius: 5px
    

.imgContLoading
    background-color: #323537
    border-radius: 5px
    display: flex
    justify-content: center
    align-items: center 

.stack1
    z-index: 2
    img 
        transform: translate3d(-12px, -10px, 0) rotate(-11deg) scale(.9)

.stack2
    z-index: 1
    img
        transform: translate3d(10px, -10px, 0) rotate(6deg) scale(.9)