@import ~sass/variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Rubik', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: #1C1F21
    // -webkit-overflow-scrolling: touch
    overflow: hidden
    background-color: #fafafa

button
    border: none
    background: none
    cursor: pointer
    font-family: Ubuntu

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s


@-webkit-keyframes autofill 
    to 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit
    
.spinner
    height: 50px
    width: 50px
    border: 5px solid #0578ff
    border-color: #0578ff #0578ff #0578ff transparent
    animation: spin 0.5s ease-in-out infinite
    border-radius: 50%
    position: absolute
    top: calc(50% - 25px)
    left: calc(50% - 25px)

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)